@import 'index.scss';

#menu.ui.menu {
  background: $main_color;
}

#menu .header {
  color: white;
}

#menu-right button {
  color: white;
  background: $main_color;
  font-weight: normal;
  &:hover {
    color: $main_color;
    background: white;
    border: none;
  }
}
